/* Absolute Positioning */
.is-relative {position: relative;}
.is-absolute {position: absolute;}

.left-0   {left: 0%;}
.left-5   {left: 5%;}
.left-10  {left: 10%;}
.left-15  {left: 15%;}
.left-20  {left: 20%;}
.left-25  {left: 25%;}
.left-30  {left: 30%;}
.left-35  {left: 35%;}
.left-40  {left: 40%;}
.left-45  {left: 45%;}
.left-50  {left: 50%;}
.left-55  {left: 55%;}
.left-60  {left: 60%;}
.left-65  {left: 65%;}
.left-70  {left: 70%;}
.left-75  {left: 75%;}
.left-80  {left: 80%;}
.left-85  {left: 85%;}
.left-90  {left: 90%;}
.left-95  {left: 95%;}
.left-100 {left: 100%;}

.top-0   {top: 0%;}
.top-5   {top: 5%;}
.top-10  {top: 10%;}
.top-15  {top: 15%;}
.top-20  {top: 20%;}
.top-25  {top: 25%;}
.top-30  {top: 30%;}
.top-35  {top: 35%;}
.top-40  {top: 40%;}
.top-45  {top: 45%;}
.top-50  {top: 50%;}
.top-55  {top: 55%;}
.top-60  {top: 60%;}
.top-65  {top: 65%;}
.top-70  {top: 70%;}
.top-75  {top: 75%;}
.top-80  {top: 80%;}
.top-85  {top: 85%;}
.top-90  {top: 90%;}
.top-95  {top: 95%;}
.top-100 {top: 100%;}

/* Flex */
.is-flex {display: flex;}

.is-column {flex-direction: column;}
.is-wrap {flex-direction: wrap;}

.justify-start {justify-content: flex-start;}
.justify-end {justify-content: flex-end;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-around {justify-content: space-around;}
.justify-evenly {justify-content: space-evenly;}

.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}
.align-center {align-items: center;}

/* Z Indexing */
.z-1 {z-index: 1;}
.z-2 {z-index: 2;}
.z-3 {z-index: 3;}
.z-4 {z-index: 4;}
.z-5 {z-index: 5;}

.z-n1 {z-index: -1;}
.z-n2 {z-index: -2;}
.z-n3 {z-index: -3;}
.z-n4 {z-index: -4;}
.z-n5 {z-index: -5;}