/* Margin */
.m-auto  {margin: auto;}
.m-5     {margin: 5%;}
.m-10    {margin: 10%;}
.m-15    {margin: 15%;}
.m-20    {margin: 20%;}
.m-25    {margin: 25%;}
.m-30    {margin: 30%;}
.m-35    {margin: 35%;}
.m-40    {margin: 40%;}
.m-45    {margin: 45%;}
.m-50    {margin: 50%;}

/* Margin X */
.mx-auto {margin-left: auto; margin-right: auto;}
.mx-5    {margin-left: 5%; margin-right: 5%;}
.mx-10   {margin-left: 10%; margin-right: 10%;}
.my-15   {margin-left: 15%; margin-right: 15%;}
.my-20   {margin-left: 20%; margin-right: 20%;}
.my-25   {margin-left: 25%; margin-right: 25%;}
.my-30   {margin-left: 30%; margin-right: 30%;}
.my-35   {margin-left: 35%; margin-right: 35%;}
.my-40   {margin-left: 40%; margin-right: 40%;}
.my-45   {margin-left: 45%; margin-right: 45%;}
.my-50   {margin-left: 50%; margin-right: 50%;}

.ml-auto {margin-left: auto;}
.ml-5    {margin-left: 5%;}
.ml-10   {margin-left: 10%;}
.ml-15   {margin-left: 15%;}
.ml-20   {margin-left: 20%;}
.ml-25   {margin-left: 25%;}
.ml-30   {margin-left: 30%;}
.ml-35   {margin-left: 35%;}
.ml-40   {margin-left: 40%;}
.ml-45   {margin-left: 45%;}
.ml-50   {margin-left: 50%;}

.mr-auto {margin-right: auto;}
.mr-5    {margin-right: 5%;}
.mr-10   {margin-right: 10%;}
.mr-15   {margin-right: 15%;}
.mr-20   {margin-right: 20%;}
.mr-25   {margin-right: 25%;}
.mr-30   {margin-right: 30%;}
.mr-35   {margin-right: 35%;}
.mr-40   {margin-right: 40%;}
.mr-45   {margin-right: 45%;}
.mr-50   {margin-right: 50%;}

/* Margin Y */
.my-auto {margin-top: auto; margin-bottom: auto;}
.my-5    {margin-top: 5%; margin-bottom: 5%;}
.my-10   {margin-top: 10%; margin-bottom: 10%;}
.my-15   {margin-top: 15%; margin-bottom: 15%;}
.my-20   {margin-top: 20%; margin-bottom: 20%;}
.my-25   {margin-top: 25%; margin-bottom: 25%;}
.my-30   {margin-top: 30%; margin-bottom: 30%;}
.my-35   {margin-top: 35%; margin-bottom: 35%;}
.my-40   {margin-top: 40%; margin-bottom: 40%;}
.my-45   {margin-top: 45%; margin-bottom: 45%;}
.my-50   {margin-top: 50%; margin-bottom: 50%;}

.mt-auto {margin-top: auto;}
.mt-5    {margin-top: 5%;}
.mt-10   {margin-top: 10%;}
.mt-15   {margin-top: 15%;}
.mt-20   {margin-top: 20%;}
.mt-25   {margin-top: 25%;}
.mt-30   {margin-top: 30%;}
.mt-35   {margin-top: 35%;}
.mt-40   {margin-top: 40%;}
.mt-45   {margin-top: 45%;}
.mt-50   {margin-top: 50%;}

.mb-auto {margin-bottom: auto;}
.mb-5    {margin-bottom: 5%;}
.mb-10   {margin-bottom: 10%;}
.mb-15   {margin-bottom: 15%;}
.mb-20   {margin-bottom: 20%;}
.mb-25   {margin-bottom: 25%;}
.mb-30   {margin-bottom: 30%;}
.mb-35   {margin-bottom: 35%;}
.mb-40   {margin-bottom: 40%;}
.mb-45   {margin-bottom: 45%;}
.mb-50   {margin-bottom: 50%;}


/* Padding */
.p-auto  {padding: auto;}
.p-5     {padding: 5%;}
.p-10    {padding: 10%;}
.p-15    {padding: 15%;}
.p-20    {padding: 20%;}
.p-25    {padding: 25%;}
.p-30    {padding: 30%;}
.p-35    {padding: 35%;}
.p-40    {padding: 40%;}
.p-45    {padding: 45%;}
.p-50    {padding: 50%;}

/* Padding X */
.px-auto {padding-left: auto; padding-right: auto;}
.px-5    {padding-left: 5%; padding-right: 5%;}
.px-10   {padding-left: 10%; padding-right: 10%;}
.py-15   {padding-left: 15%; padding-right: 15%;}
.py-20   {padding-left: 20%; padding-right: 20%;}
.py-25   {padding-left: 25%; padding-right: 25%;}
.py-30   {padding-left: 30%; padding-right: 30%;}
.py-35   {padding-left: 35%; padding-right: 35%;}
.py-40   {padding-left: 40%; padding-right: 40%;}
.py-45   {padding-left: 45%; padding-right: 45%;}
.py-50   {padding-left: 50%; padding-right: 50%;}

.pl-auto {padding-left: auto;}
.pl-5    {padding-left: 5%;}
.pl-10   {padding-left: 10%;}
.pl-15   {padding-left: 15%;}
.pl-20   {padding-left: 20%;}
.pl-25   {padding-left: 25%;}
.pl-30   {padding-left: 30%;}
.pl-35   {padding-left: 35%;}
.pl-40   {padding-left: 40%;}
.pl-45   {padding-left: 45%;}
.pl-50   {padding-left: 50%;}

.pr-auto {padding-right: auto;}
.pr-5    {padding-right: 5%;}
.pr-10   {padding-right: 10%;}
.pr-15   {padding-right: 15%;}
.pr-20   {padding-right: 20%;}
.pr-25   {padding-right: 25%;}
.pr-30   {padding-right: 30%;}
.pr-35   {padding-right: 35%;}
.pr-40   {padding-right: 40%;}
.pr-45   {padding-right: 45%;}
.pr-50   {padding-right: 50%;}

/* Padding Y */
.py-auto {padding-top: auto; padding-bottom: auto;}
.py-5    {padding-top: 5%; padding-bottom: 5%;}
.py-10   {padding-top: 10%; padding-bottom: 10%;}
.py-15   {padding-top: 15%; padding-bottom: 15%;}
.py-20   {padding-top: 20%; padding-bottom: 20%;}
.py-25   {padding-top: 25%; padding-bottom: 25%;}
.py-30   {padding-top: 30%; padding-bottom: 30%;}
.py-35   {padding-top: 35%; padding-bottom: 35%;}
.py-40   {padding-top: 40%; padding-bottom: 40%;}
.py-45   {padding-top: 45%; padding-bottom: 45%;}
.py-50   {padding-top: 50%; padding-bottom: 50%;}

.pt-auto {padding-top: auto;}
.pt-5    {padding-top: 5%;}
.pt-10   {padding-top: 10%;}
.pt-15   {padding-top: 15%;}
.pt-20   {padding-top: 20%;}
.pt-25   {padding-top: 25%;}
.pt-30   {padding-top: 30%;}
.pt-35   {padding-top: 35%;}
.pt-40   {padding-top: 40%;}
.pt-45   {padding-top: 45%;}
.pt-50   {padding-top: 50%;}

.pb-auto {padding-bottom: auto;}
.pb-5    {padding-bottom: 5%;}
.pb-10   {padding-bottom: 10%;}
.pb-15   {padding-bottom: 15%;}
.pb-20   {padding-bottom: 20%;}
.pb-25   {padding-bottom: 25%;}
.pb-30   {padding-bottom: 30%;}
.pb-35   {padding-bottom: 35%;}
.pb-40   {padding-bottom: 40%;}
.pb-45   {padding-bottom: 45%;}
.pb-50   {padding-bottom: 50%;}