.italic {font-style: italic;}
.bold {font-weight: bold;}
.underlined {text-decoration: underline;}
.decoration-none {text-decoration: none;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-centered {text-align: center;}