/* Arrows */
.arrow-right {
  background-image: url('../icons/arrow_icon.svg');
  background-size: contain;
}
.arrow-down {
  background-image: url('../icons/arrow_icon.svg');
  background-size: contain;
  transform: rotate(90deg);
}
.arrow-left {
  background-image: url('../icons/arrow_icon.svg');
  background-size: contain;
  transform: rotate(180deg);
}
.arrow-up {
  background-image: url('../icons/arrow_icon.svg');
  background-size: contain;
  transform: rotate(-90deg);
}
.mail_icon {
  background-image: url('../icons/mail_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}