
body {margin: 0;}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  height: 100vh;
  width: 100vw;

  background: #F2F2EA;
  overflow: hidden;

  display: flex;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #555555;
}
p {
  font-family: 'Lora', serif;
  color: black;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}
br {
  display: block;
  content: " ";
  height: 1.5rem;
}

/* Glassmorphism */
.glass {
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(204, 204, 204, 0.15) 25%,
    rgba(196, 193, 188, 0.15) 50%,
    rgba(204, 204, 204, 0.15) 75%,
    rgba(255, 255, 255, 0.15) 100%
  );
  border: 2px solid #EEE;
  border-radius: 16px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0px);
}
.glass:hover {
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(204, 204, 204, 0.15) 25%,
    rgba(196, 193, 188, 0.15) 50%,
    rgba(204, 204, 204, 0.15) 75%,
    rgba(255, 255, 255, 0.15) 100%
  );
  box-shadow:
    0px 0px 16px -4px rgba(0, 0, 0, 0.25),
    32px 16px 32px -32px rgba(0, 0, 0, 0.05),
    16px 32px 32px -32px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1px);
}

/* Slide Animation */
.v-enter-active {
  position: absolute;
  transition-delay: 250ms;
}
.v-leave-active {
  position: absolute;
}
.animate-up.v-enter-from {
  opacity: 0;
  transform: translateY(15vh);
}
.animate-up.v-leave-to {
  opacity: 0;
}
.animate-down.v-enter-from {
  opacity: 0;
  transform: translateY(-15vh);
}
.animate-down.v-leave-to {
  opacity: 0;
}